.container {
  width: 100%;
  background-color: #e3e3e3;
  /* position: relative; */
}
.PostUpload {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  /* height: 50rem; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.PostUpload__progress {
  width: 100%;
  height: 4vh;
}
.progress {
  margin: 2rem 0rem;
  height: 2vh !important;
  border-radius: 4rem;
}
.MuiOutlinedInput-input {
  padding: 17.5px 10px !important;
}
.MuiInputBase-input {
  height: 1.1876em !important;
}
.MuiInputBase-root {
  font-size: 1.4rem !important;
}
.MuiFormLabel-root {
  font-size: 1.4rem !important;
}
.makeStyles-button-518 {
  margin: 0 !important;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Select Post Images";
  color: #3f51b5;
  display: inline-block;
  border: 1px solid #5064d5;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.custom-file-input:hover::before {
  border-color: #3e54d5;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
/* emoji mart */
.emoji-mart {
  z-index: 4 !important;
  position: absolute !important;
  right: 0% !important ;
  bottom: 6% !important;
  width: 100% !important;
  height: 50% !important;
  overflow: hidden !important;
}
@media (max-width: 768px) {
  
.container {
  flex-direction: row;
  display: flex;
}
}