.app {
  background-color: #fafafa;
  position: relative;
}
.app__header {
  background-color: #fff;
}
.app__headerImg {
  width: 10rem;
  object-fit: contain;
}
.app__header {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
}
.app__singup{
  display: flex; 
  flex-direction: column;
  margin-bottom: 1rem;
}