.app {
  background-color: #fafafa;
  position: relative;
}
.app__header {
  z-index: 333;
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.app__headerImg {
  width: 10rem;
  object-fit: contain;
}
.app__header {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
}
.app__signup {
  display: flex;
  flex-direction: column;
}
.submit {
  margin-top: 1rem !important;
  text-transform: capitalize !important;
  font-size: 1.3rem !important;
}
.app__headerLogout {
  font-size: 1.3rem !important;
  text-transform: capitalize !important;
}
.app__posts {
  padding: 2rem;
}
.app__loginContainer > Button {
  margin-right: 1rem !important;
  font-size: 1.3rem !important;
  text-transform: capitalize !important;
}

@media (max-width: 768px) {
  html {
    font-size: 52.5%;
  }
}
